# --- AZURE STORAGE CONFIGURATION ---
# Obtén esta cadena desde el Portal de Azure (Access Keys)
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=tu_cuenta;AccountKey=tu_key;EndpointSuffix=core.windows.net"

# Nombres de los contenedores y colas definidos en el código
AZURE_BLOB_CONTAINER_NAME="sales-uploads"
AZURE_QUEUE_NAME="processing-jobs"

# --- POSTGRESQL DATABASE CONFIGURATION ---
# Formato: postgresql://<USUARIO>:<CONTRASEÑA>@<HOST>:<PUERTO>/<NOMBRE_DB>
DATABASE_URL="postgresql://<USUARIO>:<CONTRASEÑA>@<HOST>:<PUERTO>/<NOMBRE_DB>"

# --- WORKER SETTINGS ---
# Tamaño de los fragmentos para no saturar la memoria (Número de filas)
CHUNK_SIZE=50000